body {
	font-family: "Gill Sans","Gill Sans Std","Gill Sans MT",Georgia,serif;
	margin: auto;
	padding: 1em;
	width: 720px;
	background: url(../images/bg.jpg);
}
img {
	border: 0;
}
a, a:visited {
	text-decoration: none;
	color: #335E73;
}
a:hover { 
	color: #608292;
}
pre {
	background-color: #cfdfe8;
	padding: 15px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	border-bottom:1px solid #fff;
}
